table {
  color: #ffffff;
  overflow: hidden;
  border-collapse: collapse;
  margin: 5px;
  outline: 0;

}

td,
th {
  border: 0 solid #999;
  padding: 10px;
  position: relative;
  
}

thead {
  background-color: #56608e;
  position: relative;
  z-index: 10000;
}

.table____gradient {
  display: inline-block;
  box-sizing: border-box;
   background: rgb(79, 132, 149);
   background: linear-gradient(
    45deg,
    rgba(79, 132, 149, 1) 0%,
    rgba(89, 71, 133, 1) 100%
  ); 
 position: relative;
}

tbody {
    background-color: rgba(255, 255, 255, 0.2);
}
tr:hover td {
    background-color: rgba(255, 255, 255, 0.5);
}

    td:hover::after,
    td:focus::after{ 
      content: '';  
      height: 10000px;
      left: 0;
      position: absolute;  
      top: -5000px;
      width: 100%;
      z-index: 0;
    }
    
    td:hover::after,
    th:hover::after {
      background-color: rgba(255, 255, 255, 0.5);
    }
    
  
